
.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}
/* Section */
.section {
    padding: 80px 0;
    background-color: black;
}

.section--devices {
    margin-bottom: 40px;
    
    padding-bottom: 0;

    background: url("https://image.freepik.com/free-vector/mars-landscape-alien-planet-martian-background_107791-1781.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section--gray {
    background-color: gray;
}

/* .section--clients {
    background: #000000 url("https://image.freepik.com/free-vector/mars-landscape-alien-planet-martian-background_107791-1781.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.section--map {
    padding: 40px 0;
    background: #e6e6e6 url("https://image.freepik.com/free-vector/mars-landscape-alien-planet-martian-background_107791-1781.jpg") center no-repeat / cover;
} */

.section__header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 50px;

    text-align: center;
}

.section__suptitle {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    color: #333;
}

.section__title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.section__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;

    background-color: #f38181;
}

.section__text {
    font-size: 15px;
    color: #999;
}



/* Card */
.card {
    margin: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    background-color: black;
}

.card__item {
    width: 33.33333%;
    padding: 0 15px;
    border-radius: 15%;
    background-color: black;


}

.card__inner {
    position: relative;
    background-color: #321a41;
    border-radius: 8%;

}

.card__inner:hover .card__img {
    transform: translate3d(-10px, -10px, 0);
}

.card__inner:hover .card__img img {
    opacity: .1;
}

.card__inner:hover .card__text {
    opacity: 1;
}

/* .card__img {
    background: linear-gradient(to bottom, #ad3a3a, #fce38a);
    background:  url("https://image.freepik.com/free-vector/mars-landscape-alien-planet-martian-background_107791-1781.jpg") center no-repeat;



    transition: transform .2s linear;
} */
.card__2{
    background:  url("https://t4.ftcdn.net/jpg/01/67/07/37/360_F_167073794_NENJXzZkrFNdM0JmDyCZzUjXwF9Jr9L4.jpg") center no-repeat;
    border-radius: 8%;



    transition: transform .2s linear;
}

.card__1{
    background:  url("https://image.freepik.com/free-vector/mars-landscape-alien-planet-martian-background_107791-1781.jpg") center no-repeat;

    border-radius: 8%;


    transition: transform .2s linear;
}
.card__3{
    background:  url("https://img.freepik.com/free-vector/cartoon-planet-surface-with-craters-alien-landscape-with-pink-purple-kraters-falling-comet-cosmos-planet-spheres-universe_53500-283.jpg?size=626&ext=jpg") center no-repeat;

    border-radius: 8%;


    transition: transform .2s linear;
}
.card__img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}

.card__text {
    width: 100%;

    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;

    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);

    transition: opacity .2s linear;
}

.card__info {
    margin-top: 20px;

    text-align: center;
}

.card__name {
    margin-bottom: 5px;

    font-size: 14px;
    color: #333;
    text-transform: uppercase;
}

.card__prof {
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #999;
}


















