#root {
  background-color: #F7F7F7;
}
.recom_img{
    height: 200px;
}

a{
    text-decoration: none;
}

/* .carusel {
  border-radius: 22px;
  height: 700px;
} */
.img {
  display: flex;
  flex-wrap: wrap;
  margin: 20px 30px;
  justify-content: space-between;
}

img {
  max-width: 100%;
  height: auto;
}

.link {
  margin-top: 5%;
  text-decoration: underline;
  font-size: 20px;
}

.cards {
  margin-top: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


@media screen and (max-width: 1000px) {
  .cards {
    justify-content: center;
  }
}

@media screen and (max-width: 900px) {
  
  .home-body {
    margin-top: 45px;
  }
}