.products-search {
    display: flex;
    justify-content: space-between;
<<<<<<< HEAD
}
=======
}

@media screen and (max-width: 800px) {
    .products-search {
        flex-direction: column;
        justify-content: center;
        align-items: space-between;
    }
    
  }
>>>>>>> 053a03af5d177fa381e9eae9e4f43364b3872a9a
